[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/protodef"]
	path = bundle/protodef
	url = https://github.com/derekwyatt/vim-protodef
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/xptemplate"]
	path = bundle/xptemplate
	url = https://github.com/drmingdrmer/xptemplate.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "bundle/open_file_under_cursor"]
	path = bundle/open_file_under_cursor
	url = https://github.com/amix/open_file_under_cursor.vim.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/fswitch"]
	path = bundle/fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim
[submodule "bundle/html5-syntax"]
	path = bundle/html5-syntax
	url = https://github.com/othree/html5-syntax.vim
[submodule "bundle/DirDiff"]
	path = bundle/DirDiff
	url = git://github.com/vim-scripts/DirDiff.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/bingaman/vim-sparkup.git
