[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/protodef"]
	path = vim/bundle/protodef
	url = https://github.com/derekwyatt/vim-protodef
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/xptemplate"]
	path = vim/bundle/xptemplate
	url = https://github.com/drmingdrmer/xptemplate.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/open_file_under_cursor"]
	path = vim/bundle/open_file_under_cursor
	url = https://github.com/amix/open_file_under_cursor.vim.git
[submodule "vim/bundle/fswitch"]
	path = vim/bundle/fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim
[submodule "vim/bundle/html5-syntax"]
	path = vim/bundle/html5-syntax
	url = https://github.com/othree/html5-syntax.vim
[submodule "vim/bundle/DirDiff"]
	path = vim/bundle/DirDiff
	url = git://github.com/vim-scripts/DirDiff.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/sparkup"]
	path = vim/bundle/sparkup
	url = https://github.com/bingaman/vim-sparkup.git
[submodule "vim/bundle/jedi"]
	path = vim/bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-bundle-mako"]
	path = vim/bundle/vim-bundle-mako
	url = https://github.com/sophacles/vim-bundle-mako.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/bundle/hardmode"]
	path = vim/bundle/hardmode
	url = https://github.com/wikitopian/hardmode.git
[submodule "vim/bundle/solarized-theme.vim"]
	path = vim/bundle/solarized-theme.vim
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "terminal/powerline-fonts"]
	path = terminal/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts
[submodule "terminal/oh-my-zsh"]
	path = terminal/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "terminal/xfce4-terminal-colors-solarized"]
	path = terminal/xfce4-terminal-colors-solarized
	url = https://github.com/sgerrand/xfce4-terminal-colors-solarized.git
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/DxCx/tpm
[submodule "vim/bundle/vim-tmux"]
	path = vim/bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "vim/bundle/tmux-focus-events"]
	path = vim/bundle/tmux-focus-events
	url = git://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "tmux/tmux-powerline"]
	path = tmux/tmux-powerline
	url = https://github.com/DxCx/tmux-powerline.git
