[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/DxCx/tpm
	branch = master
[submodule "tmux/tmux-powerline"]
	path = tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
	branch = master
[submodule "terminal/antigen"]
	path = terminal/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "nvim/plug"]
	path = nvim/plug
	url = https://github.com/junegunn/vim-plug.git
